{% include "extension/navbar.html.twig" %}


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{{ path ('logistique') }}" class="brand-link text-center">
        <i class="fas fa-people-carry text-muted"><br>
            <span class="brand-text font-weight-light">MWANGEJI <br/> LOGISTIQUE</span>
        </i>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('dist/img/identity.jpeg') }}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Hkap Insoftware</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="{{ path ('logistique') }}" class="nav-link">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Accueil
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('materiels') }}" class="nav-link">
                        <i class="nav-icon fas fa-tools"></i>
                        <p>
                            Gestion des Materiels
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('stock') }}" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Gestion des stocks
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Réquisition
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path ("globale") }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Réquisition Globale</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path ("partielle") }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Réquisition partielle</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('proces') }}" class="nav-link">
                        <i class="nav-icon fas fa-book-medical"></i>
                        <p>
                            PV de Réception
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('affectation') }}" class="nav-link">
                        <i class="nav-icon fas fa-donate"></i>
                        <p>
                            Affectation Matériels
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path ('fournisseurs') }}" class="nav-link">
                        <i class="nav-icon fas fa-people-carry"></i>
                        <p>
                            Gestion Fournisseurs
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Inventaire
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ path ("inventaire_global") }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inventaire Globale</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path ("inventaire_partiel") }}" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inventaire partielle</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
